@font-face {
    font-family: calculator;
    src: url(digital-7__italic_.ttf);
}

.calculator{
    position: relative;
    top: 150px;
    left: 600px;
    background-color: rgb(27, 27, 27);
    width: 320px;
    height: 375px;
    border-radius: 10px;
    padding: 25px;
}

table{
    position: relative;
    top: 10px;
}

#screen{
    width: 92%;
    height: 40px;
    background-color: rgb(60, 88, 60);
    font-family: calculator;
    font-size: 300%;
    text-align: right;
    padding: 10px;
    border-radius: 4px;
}

#txt{
    position: relative;
    top: -5px;
    height: 3px;
    color: rgb(235, 233, 233);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
    font-weight: bold;

}

.solar{
    margin-top: 5px;
    margin-left: 0px;
    width: 80px;
    background-color: rgb(59, 47, 47);
    height: 30px;
    font-size: 120%;
    letter-spacing: 5px;
    color: rgb(39, 39, 39);
    padding-bottom: 15px;
}

#on{
    position: relative;
    top: -5px;
    left: 172px;
    background-color: rgb(96, 170, 212);
    border: 0;
    border-radius: 30px;
    height: 30px;
    color: white;
    width: 55px;
}

table{
    width: 98%;
    text-align: center;
}

table button{
    position: relative;
    top: 15px;
    margin-top: 8px;
    border-radius: 10px;
    height: 40px;
    width: 50px;
    font-size: 130%;
    color: white;
    background-color: black;
}

#opr{
    position: relative;
    top: 0px;
    left: 10px;
    margin-bottom: 5px;
    border-radius: 30px;
    height: 30px;
    width: 58px;
    font-size: large;
    background-color: rgb(182, 180, 180);
    color: white;
}



#opr1{
    position: relative;
    top: 5px;
    left: 10px;
    height: 60px;
    width: 55px;
    border-radius: 8px;
    background-color: rgb(15, 192, 192);
    font-weight: bold;
    font-size: 150%;
    color: white;
}

