body{
    text-align: center;
}



button{
    position: relative;
    top: 300px;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    color: wheat;
    width: 150px;
    height: 50px;
    border:1px solid black;
}
button:hover{
    background-color:rgba(0, 0, 0, 0.185);
    color: white;
    box-shadow: 5px 10px 18px red;
}