body{

}

.j_counter{
    background-color: rgb(18, 31, 18);
    width: 300px;
    position: relative;
    top: 300px;
    left: 600px;
    width: 300px;
    height: 200px;
    padding-top: 50px;
    border-radius: 4px;
   
}
.counter{
     width: 80%;
}
button {
    position: relative;
    top: 40px;
    left: 32px;
    font-size: 200%;
    color: white;
    background-color: rgb(102, 122, 27);
    border: 0;
    font-family:monospace;
    text-align: center;
}
button:hover{
    filter: brightness(80%);
}

#val{
    position: relative;
    left: 30px;
    border-radius: 4px;
	font-size: 3em;
	text-align: center;
    width: 80%;
    display: block;
    background: gray;
   font-family: calculator;
}

#add{
    width: 30%;
    height: 40px;
}
#sub{
    margin-left: 5px;
    width: 30%;
    height: 40px;
}
#reset{
   
  margin-left: 5px;
    width: 30%;
    height: 40px;
}

@font-face {
    font-family: calculator;
    src: url(digital-7__italic_.ttf);
}