body
{
 background-color:#b8d6f8;
 margin:0px auto;
 padding:0px;
 font-family:helvetica;
 height:2000px;
}

#main_content
{
    position: absolute;
    top: 300px;
    left: 500px;
     width:600px;
 
}
#main_content li
{
 display:inline;
 padding:10px;
 border-radius:5px;
 font-weight:bold;
 cursor:grabbing;
}
#main_content li.notselected
{
 background-color:#efd7f1;
 color:rgb(87, 87, 87);	
}
#main_content li.selected
{
 background-color:#f5b4a9;
 color:#292A0A;	
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#f5b4a9;
 padding:10px;
 margin-top:9px;
 border-radius:5px;
 line-height: 1.6em;
 word-spacing:4px;
 height: 300px;
 font-family: cursive;
}