body{
    margin:0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.manual_nav{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}



.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}



.auto_nav{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.auto_nav div{
    border:2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto_nav div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .auto_nav .auto-btn1{
    background: white;
}

#radio2:checked ~ .auto_nav .auto-btn2{
    background: white;
}

#radio3:checked ~ .auto_nav .auto-btn3{
    background: white;
}

#radio4:checked ~ .auto_nav .auto-btn4{
    background: white;
}