body{
    justify-content: center;
    align-items: center;
}


.container{
    position: relative;
    top: 100px;
    left: 500px;
    background-color: rgb(48, 48, 48);
    height: auto;
    width: 410px;
    align-items: center;
    justify-content: center;
}

.row{
    padding:30px ;
    margin: 10px;

}

h1{ 
    padding-left: 40px;
    align-items: center;
    color: white;
    font-family: cursive;
}

.todo{
    padding-top: 20px;
}

.input_todo{
    height: 40px;
}

.input_todo input{
    height: 30px;
    width: 320px;
}

.form button{
    position: relative;
    left: 160px;
    border: 0;
    border-radius: 10px;
    color: white;
}

.form button:hover{
    filter: brightness(50%);
    cursor: pointer;
}

#addtaskbtn{
    height: 25px;
    width: 80px;
    background-color: teal;
}

#savetaskbtn{
    height: 25px;
    width: 80px;
    background-color: teal;
}

#deleteallbtn{
    position: absolute;
    top: 179px;
    left: 290px;
    height: 25px;
    width: 80px;
    background-color: tomato;
}

.output{
    position: relative;
    top: 10px;
    width: 100px;
}

table{
    background-color: white;
    width: 330px;
}

table tr{
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 120%;
    font-family: cursive;
    color: rgb(89, 0, 253);
}

table button {
 background-color: rgb(247, 175, 19);
 border: 0;
 color: white;
 border-radius: 5px;
 opacity: 0;
 transition: 1s;
}


table tr:hover button{
    cursor: pointer;
    opacity: 1;
}

