body{
    background-image: url(background.jpg);
    background-size: 1400px 800px;
    overflow: hidden;
}
.container{
    position: absolute;
    top: 170px;
    left: 520px;
    color: rgb(58, 58, 58);
    background-color: rgb(182, 209, 243);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 450px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.head{
    font-size: 200%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(189, 18, 69)
}

#days{
    background-color: white;
    height: 40px;
}

#hours{
    background-color: white;
    height: 40px;
}

#minutes{
    background-color: white;
    height: 40px;
}

#seconds{
    background-color: white;
    height: 40px;
}